.actionColumn {
  position: fixed;
  left: 0;
  top: 75px;
  width: 250px;
  height: calc(100vh - 120px);
  background-color: white;
  border-radius: 0px 6px 6px 0px;
  box-shadow: 0px 0px 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.actionContainer {
  width: 90%;
  height: 30%;
  /* box-shadow: 0px 0px 1px gray; */
  background-color: white;
}

@media (max-width: 768px) {
  .actionColumn {
    display: none;
  }
}
