.friendBar {
  width: 90%;
  /* height: 40px; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

.friendBar:hover {
  border-radius: 4px;

  background-color: #111111;
  border-bottom: 1px solid #111111;
}

.friendImage {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.friendName {
  height: 90%;
  /* width: calc(100% - 25px); */
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
