.friendBar {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  gap: 10px;
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.friendBar:hover {
  border-radius: 10px;
  opacity: 0.8;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background-color: lightgray;
}

.friendImage {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
}

.friendName {
  height: 90%;
  width: 75%;
  width: calc(90% - 25px);
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  text-wrap: nowrap;
}
