.friendBar {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
  border-radius: 4px;
  gap: 10px;
  text-decoration: none;
}

.friendBar:hover {
  border-radius: 4px;

  /* background-color: #111111; */
  /* border-top: 1px solid transparent; */
  /* border-bottom: 1px solid transparent; */
  opacity: 0.8;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.friendImage {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.friendName {
  height: 90%;
  width: 75%;
  width: calc(90% - 25px);
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: white;
  text-wrap: nowrap;
}
