.profilePage {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: left;
  background-color: #f4f4f4;
}
.contentSide {
  width: calc(100% - 600px);
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userTopBar {
  width: 100%;
  height: 260px;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bottomBar {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton {
  color: white;
  border-radius: 8px;
  background-color: #df2c14;
  padding: 5px;
  padding-inline: 10px;
  font-weight: bold;
  font-size: 12px;
}

.logoutButton:hover {
  background-color: rgb(255, 130, 130);
  color: red;
  padding: 3px;
  padding-inline: 8px;
  border: 2px solid red;
}

.userBackgroundImage {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 0px 0px 2px 2px;
}

.userProfilImage {
  position: absolute;
  left: 10%;
  bottom: 10px;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.userName {
  position: absolute;
  left: calc(10% + 100px);
  bottom: 0;
  font-weight: bold;
  font-size: 1.4rem;
  height: 22%;
  display: flex;
  align-items: center;
  color: gray;
}

.postCreateBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #151515;
  text-wrap: wrap;
  padding-bottom: 20px;
  gap: 20px;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  padding-top: 10px;
}

.postErrorMessage {
  color: red;
  transform: translateX(-50%);
  font-weight: bold;
  margin-bottom: 50px;
  transform: translateX(0%);
}

.postInput {
  width: calc(100% - 40px);
  background-color: #111111;
  color: white;
  padding-top: 10px;
  padding-inline: 20px;
  font-size: 14px;
  border-bottom: 1px solid rgb(120, 120, 120);
  font-weight: bold;
}
.postInput:focus {
  outline: none;
}

.postButton {
  background-color: gray;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.postButton:hover {
  opacity: 0.7;
}
.postButton:active {
  opacity: 0.5;
}

.friendList {
  position: fixed;
  top: 100px;
  right: 0;
  width: 20%;
  max-width: 400px;
  height: calc(100vh - 150px);
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

textarea {
  resize: none;
  padding: 0;
  border: none;
}

@media (max-width: 1023px) {
  .profilePage {
    width: 100%;
    justify-content: center;
    margin: none;
    padding: none;
  }
  .friendList {
    display: none;
  }

  .contentSide {
    width: 100%;
    margin: none;
    padding: none;
  }

  .userProfilImage {
    width: 100px;
  }
  .userName {
    left: calc(10% + 110px);
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .contentSide {
    margin-left: 0px;
  }
}
