.profilePage {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: left;
  /* background-color: whitesmoke; */
}
.contentSide {
  /* width: 75%; */
  width: calc(96% - 300px);
  /* margin-inline: 2.5%; */
  margin-inline: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.userTopBar {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 50px;
  z-index: -1;
  border: 1px solid darkgray;
  border-top: none;
}

.userBackgroundImage {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 2px solid rgb(120, 120, 120);
}

.userProfilImage {
  position: absolute;
  left: 10%;
  bottom: 10px;
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.userName {
  position: absolute;
  left: calc(10% + 200px);
  bottom: 0;
  font-weight: bold;
  font-size: 26px;
  height: 22%;
  display: flex;
  align-items: center;
}

.postCreateBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  /* height: 200px; */
  border-radius: 10px;
  background-color: #151515;
  text-wrap: wrap;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  gap: 20px;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  padding-top: 10px;
}

.postErrorMessage {
  color: red;
  transform: translateX(-50%);
  font-weight: bold;
  margin-bottom: 50px;
  transform: translateX(0%);
}

.postInput {
  width: calc(100% - 40px);
  /* height: 90%; */
  /* height: 50px; */
  background-color: #111111;
  color: white;
  padding-top: 10px;
  padding-inline: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgb(120, 120, 120);
  font-weight: bold;
}
.postInput:focus {
  outline: none;
  /* height: 200px; */
}

.postButton {
  background-color: gray;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postButton:hover {
  opacity: 0.7;
}
.postButton:active {
  opacity: 0.5;
}

.friendList {
  position: fixed;
  top: 100px;
  right: 0;
  width: 20%;
  max-width: 400px;
  height: calc(100vh - 150px);
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

textarea {
  resize: none;
  padding: 0;
  border: none;
}

@media (max-width: 1023px) {
  .profilePage {
    width: 100%;
    justify-content: center;
    margin: none;
    padding: none;
  }
  .friendList {
    display: none;
  }

  .contentSide {
    width: 100%;
    margin: none;
    padding: none;
  }

  .userProfilImage {
    width: 100px;
  }
  .userName {
    left: calc(10% + 110px);
    font-size: 20px;
  }
}
