.header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  /* border: 1px solid white; */
  border-right: none;
  gap: 10px;
  font-size: 12px;
}

.headerInput {
  padding-inline: 5%;
  font-size: 12px;
  width: 75%;
  height: 26px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.headerInput:focus {
  background-color: lightgray;
}

.friendList {
  position: fixed;
  /* top: 100px; */
  top: 75px;
  right: 0;
  width: 250px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  background-color: white;
  border-radius: 6px 0px 0px 6px;
  box-shadow: 0px 0px 1px gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list {
  overflow-y: auto;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;

  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(120, 120, 120);
}

::-webkit-scrollbar {
  width: 4px;
}

@media (max-width: 1023px) {
  .friendList {
    display: none;
  }
}
