.header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(120, 120, 120);
  border: 1px solid white;
  border-right: none;
  gap: 10px;
}

.headerInput {
  padding-inline: 2%;
  font-weight: bold;
  width: 60%;
  border-radius: 8px;
  border: 1px solid rgb(120, 120, 120);
}

.headerInput:focus {
  /* background-color: red; */
  border: 1px solid black;
}

.friendList {
  position: fixed;
  top: 100px;
  right: 0;
  /* width: 20%; */
  width: 300px;
  height: calc(100vh - 150px);
  border: 1px solid white;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  background-color: #222222;
}

.list {
  overflow-y: scroll;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;

  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(120, 120, 120);
}

::-webkit-scrollbar {
  width: 4px;
}

@media (max-width: 1023px) {
  .friendList {
    display: none;
  }
}
