.navbar,
.navbarContainer {
  display: flex;
  align-items: center;
  /* z-index: 10; */
  background-color: white;
}

.navbar {
  /* background-color: #151515; */
  background-color: white;
  justify-content: center;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  /* box-shadow: 0px 0px 2px rgb(11, 11, 24); */
  box-shadow: 0px 0px 2px gray;
  z-index: 10;
}

.navbarContainer {
  width: 94%;
  height: 100%;
  /* position: relative; */
}

.brandNameContainer {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding-right: 30px;
  /* width: 10%; */
  /* z-index: 15; */
  filter: drop-shadow(0px 0px 5px yellow);
  color: gold;
}

input,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
  padding: none;
  margin: none;
}

.searchBar {
  width: 300px;
  /* border: 1px solid black; */
  background-color: rgb(240, 240, 240);
  padding-left: 10px;
  height: 60%;
  border-radius: 10px;
  /* font-weight: bold; */
  font-size: 12px;
  z-index: 12;
}

.searchBarTab {
  position: fixed;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
  background-color: white;
  border: 1px solid white;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  left: 10%;
  top: 50px;
  width: 320px;
  height: 300px;
  z-index: 12;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* overflow-y: scroll; */
  box-shadow: 0px -1px 0px white, 0px 0px 1px gray;
}

.fixedMenuDown {
  position: fixed;
  top: 0;
  bottom: 0;
  /* top: 0px; */
  left: 0;
  right: 0;
  z-index: 11;
  display: flex;
}

.navbarContent {
  width: 65%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  justify-content: left;
  align-items: center;
  gap: 5%;
  font-weight: bold;
  font-size: 12px;
  /* background-color: yellow; */
}

.navbarLink {
  text-decoration: none;
  /* color: white; */
  color: gray;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.navbarLink:hover {
  opacity: 0.5;
  border-bottom: 1px solid white;
}
.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  color: white;
  text-decoration: none;
  color: gold;
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
}

.loginButton:hover {
  opacity: 0.7;
  background-color: gold;
  color: white;
}

.loginButton:active {
  opacity: 0.5;
}

.userLogged {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .loginButton {
    display: none;
  }

  .userLogged {
    display: none;
  }
  .navbarContent {
    display: none;
  }

  /* .brandNameContainer {
    width: 50%;
  } */
  .searchBar {
    width: 60%;
    max-width: 300px;
  }
}
