body {
  color: white;
  background-color: #222222;
  overflow-y: scroll;
}

input,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
}

.loginPage,
.mainContainer,
.headerContainer,
.formContainer,
.loginButton,
.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  height: calc(100vh - 100px);
  width: 100%;
  min-height: 600px;
}

.mainContainer {
  background-color: #151515;
  width: 80%;
  height: 80%;
  padding-top: 10px;
  border-radius: 10px;
  color: gray;
  max-width: 600px;
  flex-direction: column;
}

.mainContainer:hover {
  /* box-shadow: -4px -4px 6px #00000026; */
  /* box-shadow: 0px 0px 20px #00000026; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.headerContainer {
  width: 90%;
  height: 10%;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.formContainer {
  height: 90%;
  width: 90%;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  font-weight: bold;
  justify-content: flex-start;
  margin-top: 100px;
}

.inputClass,
.inputClass:active {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  padding-inline: 20px;
  background-color: #111;
  font-weight: bold;
  color: gray;
  border: 1px solid #111;
}

.inputClass:focus {
  border: 1px solid #222222;
}

.actionChanger {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.actionChanger:hover {
  background-color: rgb(120, 120, 120);
  color: white;
}

.sideBar {
  background-color: rgb(120, 120, 120);
  height: 60%;
  width: 20px;
  border-radius: 0px 10px 10px 0;
}

@media (max-width: 768px) {
  .headerContainer {
    font-size: 1.2rem;
  }

  .formContainer {
    margin-top: 50px;
  }
}
