body {
  color: white;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

input,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
}

.loginPage,
.mainContainer,
.headerContainer,
.formContainer,
.loginButton,
.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  height: calc(100vh - 50px);
  width: 100%;
  min-height: 500px;
}

.mainContainer {
  background-color: #151515;
  background-color: white;
  width: 360px;
  /* height: 80%; */
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  color: gray;
  max-width: 600px;
  flex-direction: column;
  box-shadow: 0px 0px 2px gray;
}

/* .mainContainer:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
} */

.headerContainer {
  width: 90%;
  /* height: 10%; */
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid gold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: gold;
}

.formContainer {
  height: 90%;
  width: 90%;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-weight: bold;
  justify-content: flex-start;
  justify-content: center;
  margin-top: 40px;
  /* background-color: red; */
}

.signUpButton {
  /* background-color: #222222; */
  background-color: rgb(245, 245, 177);
  border: 2px solid gold;
  outline: none;
  padding: 6px;
  width: 180px;
  color: gray;
  font-weight: bold;
  border-radius: 10px;
  /* border: none; */
}

.signUpButton:hover {
  background-color: gold;
  color: white;
}
.inputClass,
.inputClass:active {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  padding-inline: 20px;
  /* background-color: rgb(250, 230, 100); */
  font-weight: bold;
  border: 1px solid gold;
  color: gray;
}

.inputClass:focus {
  /* border: 1px solid #222222; */
  background-color: rgb(255, 255, 200);
  /* color: white; */
}

.actionChanger {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  color: gold;
}
.actionChanger:hover {
  background-color: gold;
  color: white;
}

/* .sideBar {
  background-color: rgb(250, 230, 100);
  height: 300px;
  width: 20px;
  border-radius: 0px 10px 10px 0;
} */

@media (max-width: 768px) {
  .headerContainer {
    font-size: 1.2rem;
  }

  .formContainer {
    margin-top: 50px;
  }
}
