body {
  color: white;
  background-color: #222222;
}

input,
input:active {
  text-decoration: none;
  outline: none;
  border: none;
}

.loginPage,
.mainContainer,
.headerContainer,
.formContainer,
.loginButton,
.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  height: calc(100vh - 100px);
  width: 100%;
  min-height: 600px;
}

.mainContainer {
  background-color: #151515;
  /* margin-top: 50px; */
  width: 80%;
  height: 80%;
  /* max-height: 600px; */
  padding-top: 10px;
  border-radius: 10px;
  color: gray;
  max-width: 600px;
  flex-direction: column;
  position: relative;
}

.mainContainer:hover {
  box-shadow: -4px -4px 6px #00000026;
}

.headerContainer {
  width: 90%;
  height: 10%;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.formContainer {
  height: 90%;
  width: 90%;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  font-weight: bold;
}

.inputClass,
.inputClass:active {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  padding-inline: 20px;
  background-color: #111;
  font-weight: bold;
  color: gray;
  border: 1px solid #111;
}

.inputClass:focus {
  border: 1px solid #222222;
}
/* .loginButton,
.registerButton {
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  color: white;
  background-color: lightgray;
}

.registerButton:hover,
.loginButton:hover {
  background-color: white;
  color: lightgray;
}
.loginButton:hover {
  transform: rotate(2deg);
}
.registerButton:hover {
  transform: rotate(-2deg);
}

.loginButton:active,
.registerButton:active {
  transform: scale(0.95);
} */

@media (max-width: 768px) {
  .headerContainer {
    font-size: 1.2rem;
  }
}
