.friendBarColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendBar {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  /* gap: 10px; */
  text-decoration: none;
  background-color: #555555;
}

.friendBar:hover {
  border-radius: 4px;
  opacity: 0.8;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.friendImage {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.friendName {
  height: 90%;
  width: 75%;
  width: calc(90% - 25px);
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: white;
  text-wrap: nowrap;
}

.friendInfoSide {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.arrow {
  display: flex;
  height: 100%;
  margin-right: 10px;
}

.actionWithFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 86%;
  background-color: rgb(120, 120, 120);
  border-radius: 0px 0px 5px 5px;
}

.friendTabItem {
  width: 90%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #555555; */
  background-color: darkgray;
  color: white;
  text-decoration: none;
  /* animation: DropDown 0.2s; */
}

.friendTabItem:hover {
  background-color: #555555;
}

.deleteFriend {
  background-color: red;
}

.deleteFriend:hover {
  background-color: rgb(138, 7, 7);
  opacity: 0.8;
}
