.post {
  width: 75%;
  /* background-color: #1a1818; */
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* margin-bottom: 100px; */
  border-radius: 4px;
  /* border: 1px solid rgb(120, 120, 120); */
}

.userName {
  width: 96%;
  padding-inline: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgb(120, 120, 120); */
  background-color: #444444;
  height: 25px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.topPostBarLeft {
  display: flex;
  gap: 20px;
}

.deleteButton {
  color: red;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton:hover {
  opacity: 0.8;
  background-color: white;
  border-radius: 5px;
}
.postMessage {
  width: 90%;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.bottomPostBar {
  height: 40px;
  width: 90%;
  border-top: 1px solid rgb(120, 120, 120);
  margin-inline: 3%;
  padding-inline: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.bottomAction {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottomAction:hover {
  opacity: 0.5;
}

.commentSection {
  width: 70%;
  min-height: 100px;
  /* background-color: red; */
  background-color: #303030;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px solid rgb(120, 120, 120);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.comment {
  width: 90%;
  background-color: red;
}

.commentInput {
  /* padding-top: 20px; */
}
@media (max-width: 768px) {
  .post {
    width: 90%;
  }
}
