.postCreator {
  width: 50%;
  min-width: 350px;
  min-height: 130px;
  box-shadow: 0px 0px 1px gray;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.topSection {
  /* background-color: RED; */
  /* height: 48%; */
  min-height: 70px;
  width: 90%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.userImage {
  border-radius: 50%;
  background-color: gray;
  height: 40px;
  aspect-ratio: 1/1;
}
.postCreatorInput {
  width: calc(90% - 40px);
  padding-inline: 4%;
  border-radius: 8px;
  height: 65%;
  background-color: lightgray;
  background-color: #f0f2f5;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial;
  font-weight: bold;
  color: gray;
}

.postCreatorInput:focus {
  outline: none;
}

.bottomSection {
  /* height: 52%; */
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.submitPost {
  background-color: rgb(0, 200, 0);
  padding: 6px;
  padding-inline: 40px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid white;
  color: white;
}

.submitPost:hover {
  background-color: greenyellow;
  border: 2px solid rgb(0, 200, 0);
  color: rgb(0, 200, 0);
}

.submitPost:active {
  opacity: 0.4;
}
