.homePage {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: left;
}
.contentSide {
  width: 75%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300vh;
}

.userTopBar {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #151515;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 50px;
  z-index: -1;
}

.userBackgroundImage {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 0px 0px 10px 10px;
}

.userProfilImage {
  position: absolute;
  left: 10%;
  bottom: 10px;
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.userName {
  position: absolute;
  left: calc(10% + 200px);
  bottom: 0;
  font-weight: bold;
  font-size: 26px;
  height: 22%;
  display: flex;
  align-items: center;
}

.postCreateBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  height: 200px;
  border-radius: 4px;
  background-color: #151515;
  text-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.postInput {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #111111;
  padding: 10px;
  color: white;
}

.postInput:focus {
  outline: none;
}

.postButton {
  background-color: gray;
  font-weight: bold;
  padding: 5px;
  padding-inline: 20px;
  border-radius: 2px;
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  .contentSide {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
