.homePage {
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: left;
  color: black;
  background-color: #f4f4f4;
}
.contentSide {
  width: calc(100% - 380px);
  margin-top: 25px;
  /* background-color: red; */
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (max-width: 768px) {
  .contentSide {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
